{% extends 'layouts/base.html' %}
{% load static %}
{% load dis_play %}
{% block body_block %}
<header class="my_body">
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <p>{% autoescape off %}{% dis_play "products_app-initdb-text1"%}{% endautoescape %}</p>
            <p>{% dis_play "products_app-initdb-text2"%}</p>
        </div>
        <h5>{% dis_play "products_app-initdb-text3"%}</h5>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="{% dis_play "products_app-initdb-button1"%}" class="btn btn-danger">
        </form>
        <hr />
        <div class="row justify-content-center">
            <a href="{% url 'home_app:index' %}"><input type="button" class="btn btn-primary"
                                                        value="{% dis_play "products_app-initdb-button2"%}" /></a>
        </div>
    </div>
</header>
{% endblock %}